# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 37270807149da31a5f2320f19249eee51a4df91ab8f33ffde066b342248af8889decdc7f82a0301888c0cb674cc6d4c5cff0cda82cf682316242342c4340bd66

test:
  secret_key_base: ec089faf36cd9d9d6b89860fb8a422d85eb5da49cb431af6858a803ba7b83cc97b5f5a82ebf4e934a768cec65c3dd88eb2669dd5d5a8478a9298f3baab7200f2

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
